Some unsafe characters are not URL encoded when they are provided as query params

### Is there an existing issue for this?

- [X] I have searched the tracker for existing similar issues and I know that duplicates will be closed

### Describe the Issue

The following characters must be URL-encoded when they appear as query-param values:
- Ampersand (&)
- Equals sign (=)
- Plus sign (+)
- Question mark (?)
- Hash/Number sign (#)

The following characters are considered unsafe and should be encoded as well, even though they are not reserved:
- Space (encoded as %20 or +)
- Less than (<) and greater than (>)
- Double quotes (")
- Percent sign (%)

In Postman, when a query param value that uses any of the above characters is provided, it is automatically being URL-encoded. The only 2 exceptions are the percent `%` and plus `+` characters

The js function [encodeURIComponent](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/encodeURIComponent#description) describes how caracters should be encoded when used in URL values:  
> It escapes all characters except: `A–Z a–z 0–9 - _ . ! ~ * ' ( )`

[RFC-3986, section 2.2](https://datatracker.ietf.org/doc/html/rfc3986#section-2.2) specifies the reserved characters, and shows that the plus sign has to be encoded. [Section 2.4](https://datatracker.ietf.org/doc/html/rfc3986#section-2.4) states that:  
> Because the percent ("%") character serves as the indicator for
   percent-encoded octets, it must be percent-encoded as "%25" for that
   octet to be used as data within a URI.

### Steps To Reproduce

1. Create a GET request
2. Go to Params tab
3. Enter 4 params:
   1. key=`space`, value=`x y`
   2. key=`ampersand`, value=`x&y`
   3. key=`percent`, value=`x%y`
   4. key=`plus`, value=`x+y`
5. Open the code snippet tab on the right, and observe the cURL command: `curl --location 'https://foo.com?space=x%20y&ampersand=x%26y&percent=x%y&plus=x+y'`
   1. The space and ampersand characters were URL-encoded
   2. The percent and plus characters were not URL-encoded

Note: all other characters mentioned above are also being encoded. They are not mentioned in the reproduction steps here just for simplicity.

### Screenshots or Videos

![image](https://github.com/user-attachments/assets/f4f2d3cc-12e1-408b-8e13-7c5213cefdd9)

### Operating System

macOS

### Postman Version

11.23.3

### Postman Platform

Postman App

### User Account Type

Signed In User

### Additional Context?

There is [issue 8626](https://github.com/postmanlabs/postman-app-support/issues/8626) that describes part of the issue mentioned here, but it doesn't cover the percentage character.
Moreover, it is over 4 years old, and it seems that because of misclassification it no longer gets any attention from Postman team.
The confusion in that other ticket stems from the fact that plus sign is both:
1. An unsafe character that has to be encoded into `%2B`.
2. The result of encoding space character which may be encoded into `%20` or `+`.