Postman does not handle newlines in headers well

<!--
Welcome to the Postman Issue tracker. Any feature requests / bug reports can be posted here.
Any security-related bugs should be reported directly to security@getpostman.com
-->
**When a newline is included at the end of a header value, this automatically causes the request to fail with the unhelpful message "Could not get any response"**

## App Details:
<!--
Copy paste this from Settings > About
-->
```
Postman for Mac
Version 6.0.10
OS X 17.4.0 / x64
```

## Issue Report:
 1. Did you encounter this recently, or has this bug always been there: Noticed it recently
 2. Expected behaviour: 
a) Postman should throw an error when a trailing newline has been included in a header, or it should send the request with the newline escaped, or it should strip the newline. 
b) If the value of the text field is "hello\n" (where \n is actually a newline), then when the caret is on the right side of the "o", pressing the right arrow key or the down arrow key should take the caret to the next line instead of tabbing to the "description" box.
c) The newline should appear in the "code" popup (the curl request). Its disappearance from the popup makes debugging this problem more difficult.
 3. Console logs (http://blog.getpostman.com/2014/01/27/enabling-chrome-developer-tools-inside-postman/ for the Chrome App, View->Toggle Dev Tools for the Mac app):
 4. Screenshots (if applicable)

## Steps to Reproduce
1) Create a new request
2) GET en.wikipedia.org/wiki/Water
3) Add a header "my-header" with value "hello"
4) Execute the GET, notice that the expected HTML page is returned
5) Now copy/past a newline character from a text editor at the end of "hello"
6) Observe that the "value" popup gets taller
7) Execute the GET
8) Postman says "could not get any response"


<!--
Some guidelines: 

1. Please file Newman-related issues at https://github.com/postmanlabs/newman/issues

2. If it’s a Cloud-related issue, or you want to include personal information like your username / collection names, mail us at help@getpostman.com

3. If it’s a question (anything along the lines of “How do I … in Postman”), the answer might lie in our documentation - http://getpostman.com/docs.
-->


I have actually noticed this anywhere in a header value. Input like this:

```
applicatio
n/json
```

👍  on this. This is a serious issue

Hi everyone,

I'm leaving my thoughts here.

Newline is not a valid character in a header. That's the reason the request fails. Auto-escaping the header value or trimming it is not an ideal option. We do not want to change any input provided by the user.

However, I can understand that this is not a very ideal experience.

We are doing a couple of things to improve the experience here.

1. The actual failure is logged in the postman console as `Error: The header content contains invalid characters`. We can add this error message in the response view section.
2. Like you mentioned, we can add a UI warning next to the headers to highlight special characters

I'm also creating a bug to track the `code generator` removing trailing newline.

Thanks for the feedback.

> Newline is not a valid character in a header

Are you saying that you cannot have HTTP Header field values that span multiple lines? Because if that is the case, then that is not really true. HTTP Headers can and do support the field value spanning multiple lines. The value on the new lines need to be preceded by a space or a tab, but it is supported. See RFC2616 Section 4.2 (https://tools.ietf.org/html/rfc2616#section-4.2).

Not that this feature request makes any sense, but Postman should support the HTTP spec to its fullest, which ought to include multi-line header field values.

@cypher0six You are right but RFC2616 is obsoleted by RFC7230 which deprecates such behavior:

```
Historically, HTTP header field values could be extended over
multiple lines by preceding each extra line with at least one space
or horizontal tab (obs-fold).  This specification deprecates such
line folding except within the message/http media type
(Section 8.3.1).  A sender MUST NOT generate a message that includes
line folding (i.e., that has any field-value that contains a match to
the obs-fold rule) unless the message is intended for packaging
within the message/http media type.
```
https://tools.ietf.org/html/rfc7230#section-3.2.4

Also, newline in header content is an invalid character for NodeJS HTTP parser which we use to send the request. Reference: https://github.com/nodejs/node/blob/v10.14.2/lib/_http_outgoing.js#L460

Duplicate of #3835

Closing this as duplicate and concentrating to ensure the request sending error messages are put straight into the response failure area.