OAuth 2 Client Authentication using HTTP Basic

Wonder if you guys could change your OAuth 2.0 implementation to use Basic Auth instead of putting the auth credentials in the body of the POST to the token endpoint.

https://tools.ietf.org/html/rfc6749#section-2.3.1

The OAuth 2.0 RFC says: "The authorization server MUST support the HTTP Basic authentication scheme for authenticating clients that were issued a client password."

Also: "Including the client credentials in the request-body using the two parameters is NOT RECOMMENDED and SHOULD be limited to clients unable to directly utilize the HTTP Basic authentication scheme"


+1

As a concrete example, Bitbucket implemented OAuth 2.0 with the MUST part. Although the surrounding language in the spec is a little hard to understand, I have gotten consensus from non-Atlassian developers that it means: use the client_id as username and client_secret as password, encode the pair with base64 as you would normally for username/password, then send in the "Authorization: Basic" header.

Bitbucket did not implement the MAY part of the spec, which reads (just before saying that it's not recommended):

> The authorization server MAY support including the client credentials in the request-body...

As a result, Postman's OAuth 2.0 Token Generator cannot complete successfully with Bitbucket. At least for my case, it would be sufficient to add the Basic Auth header and continue to send the form-encoded body, which Bitbucket will ignore.

While the spec does say NOT RECOMMENDED for the request-body, I do worry about non-compliant OAuth 2.0 servers. Sending both could be an easier fix. @joshperry Do you have a compelling reason why the request-body should not be sent?

Given this concrete example with Bitbucket and the gap with regard to the specification, @abhijitkane would you object to relabeling this issue as a bug?


@ibuchanan

> use the client_id as username and client_secret as password, encode the pair with base64 as you would normally for username/password, then send in the "Authorization: Basic" header.

The current 'Basic' helper does precisely this. Will this solve the use-case, or is there anything else that's need to complete Bitbucket's OAuth flow?


@abhijitkane The Basic helper does the steps you've highlighted. However, it does not do them from within the OAuth 2.0 helper.

The 1st part of the OAuth 2 flow sends me to Bitbucket to approve Postman's access to use the API on my behalf. If I click "Approve", the response is a redirect with an authorization_code. The 2nd part of the flow has Postman exchange that authorization_code for an access_token. It's in this 2nd step that Postman's OAuth 2.0 helper breaks (at least for Bitbucket but, I think, also for the spec). In this step, Postman sends client_id, client_secret, and some other details in the POST body to Bitbucket's Access Token URL. Since the spec says that's a MAY, Bitbucket has not implemented it yet. Hence, Bitbucket considers the request for an access_token to be from an unauthorized source.

In the end, I can use Postman to complete the OAuth 2.0 flow by manually hitting each step in the flow, but I can't use the OAuth 2.0 helper to do it. I would like to be able to recommend Postman to developers who want to explore the Bitbucket REST API, but don't want to learn the OAuth flow. I also think sending the Basic Auth header in the 2nd step makes Postman more compliant with the specification.

If your interpretation of the spec suggests otherwise, let me know. (Specs, gotta love 'em.)

Thanks for consideration.


Got it. We're working on a plugin-based architecture for our Auth-helpers, which should enable custom helpers. But I see your point about the OAuth2 functionality being missing. We don't have this on our radar right now, but we've added it to our to-do list, and will try to take it up soon.


Still can't use my paid jetpack license to test my openid-connect secured service. The implementation is off-spec, plain and simple. Could you guys at least add the credentials as Basic Auth headers in addition to putting them in the Post body?


+1, I am also very interested – currently I have to use my own OAuth flow because of this. Any chance you could open this up for us to contribute?


A quick fix would be to send client credentials both via header and body, for making local requests:

``` javascript
  requestToken: function(url, dataObject) {
    $.ajax({
      url: url,
      type: 'post',
      data: dataObject,
      headers: {Authorization: "Basic " + btoa(dataObject.client_id + ":" + dataObject.client_secret)},
      success: function(data) {
         console.log("Access token through Postman");
         console.log(data);
         var params = data;
         if(typeof data === "string") {
             params = getUrlVars("?"+data);
         }
         pm.mediator.trigger("addOAuth2Token", params);
      }
    });
  }
```


thirtified's suggestion of putting the credentials BOTH in the Authorization header and in the x-www-form-url-encoded body is good, and will make it work fine on MOST OAuth2 implementations, will not work for OAuth implementations that are strictly following the spec. Section 2.3 of RFC6749 says:

```
The client MUST NOT use more than one authentication method in each request.
```

So, if you put the credentials in both places, a conforming implementation will fail the request.

Postman should have an option for specifying which one to use (Authorization header or body) when retrieving the access token.


+1. Only header should be sufficient as well, since the header is MUST, and all authorization servers must support it.


> ```
> The client MUST NOT use more than one authentication method in each request.
> ```
> 
> So, if you put the credentials in both places, a conforming implementation will fail the request.

My interpretation would be that even with passing the credentials twice in the request it would still count as just one authentication method in the sense of the spec ("Client Password").

However, I do agree that @bberliner's suggestion of an option to select whether to pass credentials in the header or in the body would be the better solution.


Looks like somebody is running into this issue passing the credentials in both places: https://github.com/postmanlabs/postman-app-support/issues/2088

I also like the option as suggested by @bberliner 


@abhijitkane - would you be able to give a comment on the status of this issue?


Bump. Is anyone looking at this?


@neverendingqs We're looking into this, but this isn't in our immediate roadmap as of now.


That's a bit disappointing. The current implementation of postman punishes those who follow the spec correctly:

> Clients in possession of a client password MAY use the HTTP Basic
>    authentication scheme as defined in [RFC2617] to authenticate with
>    the authorization server.  The client identifier is encoded using the
>    "application/x-www-form-urlencoded" encoding algorithm per
>    Appendix B, and the encoded value is used as the username; the client
>    password is encoded using the same algorithm and used as the
>    password.  **The authorization server MUST support the HTTP Basic
>    authentication scheme for authenticating clients that were issued a
>    client password.**
> ...
> **Including the client credentials in the request-body using the two
>    parameters is NOT RECOMMENDED and SHOULD be limited to clients unable
>    to directly utilize the HTTP Basic authentication scheme (or other
>    password-based HTTP authentication schemes).**  The parameters can only
>    be transmitted in the request-body and MUST NOT be included in the
>    request URI.

https://tools.ietf.org/html/rfc6749#section-2.3.1


Yes, this is absolutely a blocking bug for us. I paid for jetpack license to try and support development of what looked like a great product. But we still, over a year later, can not use this product because it does not properly implement the standard.

I will not implement or enable authentication methods that the standard specifically recommends against. I'm surprised so many others are willing to, no wonder we have so many security issues on the internet.

I've just had to write this product off. Unfortunate.


Same here, this is really blocking. The idea of having such helpers is to comply with standards so developers can just leverage them without the need to know all nitty gritty details. Currently the usage of the OAuth2 helper leads a trial-and-error approach trying to figure out why it doesn't work. The proposed change should be fairly straightforward and be very beneficial for Postman's customer base.

@madebysid please reconsider putting this on the immediate roadmap as this is causing regular headaches.

@skymeyer We will be looking at improving Auth behaviour very soon. I'll keep you guys updated :)

The Mac version looks like it now sends the clientid/secret in BOTH the header (as encoded basic bearer) and in the post form body when calling the access token endpoint in Oauth2 helper -> Authorization Code grant type.

This causes it to fail with an oauth2 product we are supporitng as it throws an exception when multiple forms of client authentication are sent.

The oauth2 spec seems to back this:

https://tools.ietf.org/html/rfc6749#section-2.3

```
The client MUST NOT use more than one authentication method in each
   request.
```

I'm on Windows, and I'm seeing the same error (client credentials sent in both the header and the request body).

```
Postman for Chrome
Version 4.10.3
win / x86-32
Chrome 56.0.2924.87
```



As @rjaxin pointed out, this is a violation of the OAuth 2.0 spec. As per https://www.ietf.org/rfc/rfc2119.txt:

> 2. MUST NOT   This phrase, or the phrase "SHALL NOT", mean that the
   definition is an absolute prohibition of the specification.

which means the previous Postman behaviour of only including it in the request body is actually more desirable, because `MUST NOT` is stronger than `NOT RECOMMENDED`:

> Including the client credentials in the request-body using the two
   parameters is NOT RECOMMENDED and SHOULD be limited to clients unable
   to directly utilize the HTTP Basic authentication scheme (or other
   password-based HTTP authentication schemes).
> https://tools.ietf.org/html/rfc6749#section-2.3.1

> 3. SHOULD   This word, or the adjective "RECOMMENDED", mean that there
   may exist valid reasons in particular circumstances to ignore a
   particular item, but the full implications must be understood and
   carefully weighed before choosing a different course.
> 4. SHOULD NOT   This phrase, or the phrase "NOT RECOMMENDED" mean that
   there may exist valid reasons in particular circumstances when the
   particular behavior is acceptable or even useful, but the full
   implications should be understood and the case carefully weighed
   before implementing any behavior described with this label.
> https://www.ietf.org/rfc/rfc2119.txt

However, as I have noted [previously](https://github.com/postmanlabs/postman-app-support/issues/1360#issuecomment-231751932):

> The authorization server MUST support the HTTP Basic
   authentication scheme for authenticating clients that were issued a
   client password.
> https://tools.ietf.org/html/rfc6749#section-2.3.1

> 1. MUST   This word, or the terms "REQUIRED" or "SHALL", mean that the
   definition is an absolute requirement of the specification.
> https://www.ietf.org/rfc/rfc2119.txt

only authenticating via HTTP Basic authentication is sufficient for all OAuth 2.0 compliant authorization servers.

Can a Postman representative (@madebysid or someone else) please explain why Postman doesn't only authenticate via HTTP Basic authentication? To me, complying with standards is the best way to satisfy all the use cases of your user base.

@shamasis - this is an OAuth 2 issue, and should probably live in [OAuth 2](https://github.com/postmanlabs/postman-app-support/projects/12), not [OAuth 1](https://github.com/postmanlabs/postman-app-support/projects/11).

Agreed.  Ideally there should be a setting to send one or the other for max compatibility (but never both), and HTTP Basic Authorization header is preferred.

Hmm might have to take back:
> only authenticating via HTTP Basic authentication is sufficient for all OAuth 2.0 compliant authorization servers.

based on https://github.com/postmanlabs/postman-app-support/issues/2296#issuecomment-288106670.

> The authorization server MUST support the HTTP Basic
   authentication scheme for authenticating clients that were issued a
   client password.

>...

>  **Alternatively**, the authorization server MAY support including the
   client credentials in the request-body using the following ...
> https://tools.ietf.org/html/rfc6749#section-2.3.1

The "alternatively" is making me rethink. At its natural reading, it seems to override the MUST in the previous paragraph. It's strange to use MUST instead of RECOMMENDED though if an alternate is possible...

What is the status of this ?  Postman is violating the OAuth 2.0 spec :-(

This issue has been fixed.
Please update to a latest version of Postman native app