Incorrect status code name for HTTP 418

**Describe the bug**
The description for HTTP 418 reads "Client Error (418)" where the official name is "I'm a teapot"

**To Reproduce**
Steps to reproduce the behavior:
1. Run a request that returns HTTP 418
2. Note the response

**Expected behavior**
HTTP 418 should be returned with the name "I'm a teapot" as per [RFC 2324, section 2.3.2](https://tools.ietf.org/html/rfc2324#section-2.3.2)

**Screenshots**
![image](https://user-images.githubusercontent.com/37175276/73329910-53290d80-42b3-11ea-9073-f498bd8db550.png)

**App information:**
 - App Type: Native App
 - Postman Version: 7.16.1
 - OS: Windows 10 build 18362

**Additional context**
Status code names should reflect their official specification, thank you.
