Postman is double encoding query parameters using OAuth 1.0

As far as I can tell, postman is _not_ decoding parameters before normalizing them when it follows the [3.4.1.3.2.  Parameters Normalization](https://tools.ietf.org/html/rfc5849#section-3.4.1.3.2) step of OAuth. This causes the parameters to be encoded _twice_.

The spec does specifically state that the query parameters should be decoded before they are passed along to be normalized: [3.4.1.3.1.  Parameter Sources](https://tools.ietf.org/html/rfc5849#section-3.4.1.3.1).

> The query component of the HTTP request URI as defined by
> [RFC3986], Section 3.4.  The query component is parsed into a list
> of name/value pairs by treating it as an
> "application/x-www-form-urlencoded" string, separating the names
> and values and decoding them as defined by
> [W3C.REC-html40-19980424], Section 17.13.4.

So any URL that has percent encoded values inside the query parameters will fail to generate a correct signature.


@EvanPurkhiser Thanks for reporting this. We'll investigate and try to push a fix ASAP.


@EvanPurkhiser We'll be pushing a fix in the next release.


Thank you @abhijitkane 


@EvanPurkhiser can you confirm this fixed in the latest version?


Will confirm this coming week. Thank you @abhijitkane !


This bug is still happening to me, I am on 4.10.5 the mac app.
Appear to work when I url decode once.